/* =============================================
 * Image Background 
 * 
 * @type WebRock Object
 * ============================================= */
@import '../../scss/theme/variables';

.solidbackground{
    width: 100%;
    display: block;
    position: relative;
    margin:0;
}