{% extends 'creator/base.html' %}{% load staticfiles %}
{% block css %}{% endblock %}
{% block page_header %}
<h1 class="right"><a href="/core/templates/add/" class="tiny button">Add New</a></h1>
<h1 class="left">All templates</h1>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>N. of elements</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr>
        <td><a href="#">Homepage</a></td>
        <td>6</td>
        <td>Published</td>
        <td>
            <ul class="button-group round">
                <li><a href="/core/templates/view/1/" class="tiny button"><i class="fi-magnifying-glass"></i></a></li>
                <li><a href="/core/templates/edit/1/" class="tiny button"><i class="fi-pencil"></i></a></li>
                <li><a href="/core/templates/delete/1/" class="tiny button"><i class="fi-x"></i></a></li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}
{% block js %}{% endblock %}