@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato300.woff) format('woff');
}

* {
    font-family:'Lato' !important;
}

//custom background colors
.dark {
    background-color: #333333;
}
.blue {
    background-color: #074e68;
}
.white {
    background-color: #FFFFFF;
}

header {
    background-image: url(../img/stars.svg);
    
    h1 {
        font-size:60px;
        color:#ffffff;
    }
    h4 {
        color:#ffffff;
        font-size:20px;
    }
}

.row .columns table {
    width: 100%;
    
    td{
        
        ul{
            
            li{
                
                .button{
                    margin-bottom:0px;
                }
            }
        }
    }
    td:last-child{
        width:155px;
    }
}

//vertical menu 100% width
.icon-bar.vertical {
    width: 100%;
}

.footer{
    
}